[submodule "modules/oh-my-zsh"]
    path = modules/oh-my-zsh
    url = https://github.com/ripta/oh-my-zsh.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
