[submodule "modules/oh-my-zsh"]
    path = modules/oh-my-zsh
    url = https://github.com/ripta/oh-my-zsh.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
